*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.home{
    display: flex;
    align-items: center;
    height: 80vh;
}
.child{
    display: flex;
    justify-content: center;
    padding: 3vh 10vw 3vh 10vw;
    flex-direction: column;
}
.left{
    flex: 1;
    padding-left: 15vw;
}
.right{
    flex: 1;
    padding-right: 15vw;
}
.line{
    background-color: rgb(190, 190, 190);
    width: 2px;
    height: 45vh;
}
.title{
    font-size: 5vh;
}

.button{
    min-width: max-content;
    width: 5vw;
    padding: 0.5rem;
    margin-top: 0vh;
    border-radius: 0.3rem;
    box-shadow: 2px 2px 5px 2px #dfdfdf;
    border: solid 2px white;
    color: black;
}
.button:hover{
    border: solid 2px #203864;
    color: #203864;
    box-shadow: 5px 5px 5px 2px #dfdfdf;
    transition: all 0.3s ease-in-out;
}

.search-box-large{
    display: none;
}

@media screen and (max-width: 1110px){
    .search-box-large{
        display: block;
        height: 100%;
        border: none;
        outline: none;
        margin: 0 10vw;
        border-radius: 2rem;
        background-color: #eeeeee;
    }
    
    .search-box-large > .search-input{
        width: 90%;
        height: 100%;
        border: none;
        outline: none;
        padding: 0.5rem 1rem;
        border-radius: 1.2rem;
        background-color: #eeeeee;
    }

    .search-box-large > .search-button{
        width: 10%;
        margin: 0%;
        height: 100%;
        padding: 0.5rem;
        border-radius: 1.2rem;
    }
}

@media screen and (max-width: 768px){
    .home{
        flex-direction: column;
        height: 60vh;
        justify-content: space-between;
    }
    .child > h2{
        margin: 0;
        font-size: 4vh;
    }
    .right{
        padding-right: 10vw;
    }
    .left{
        padding-left: 10vw;
    }
    .line{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        min-height: 2px;
        width: 80vw;
    }
}