*{
    margin: 0;
    padding: 0;
}
.Navbar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15vh;
}
.Navbar .upper{
    display: flex;
    height: 10vh;
    width: 100%;
}
.Navbar .lower{
    display: flex;
    margin-top: 1rem;
    width: 100%;
    height: 5vh;
}
.Navbar .upper .uleft{
    display: flex;
    flex: 50%;
    justify-content: left;
    align-items: center;
}
.Navbar .upper .uleft .headlogo{
    margin-left: 5vw;
    margin-top: 0.8rem;
}
.Navbar .upper .uright{
    display: flex;
    flex: 50%;
    justify-content: flex-end;
    align-items: center;
}
.Navbar .upper .uright .login{
    margin-right: 7vw;
    font-size: 1.2rem;
}
.Navbar .upper .uright .login a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
.Navbar .lower .Left{
    display: flex;
    flex: 70%;
    justify-content: left;
    align-items: center;
}
.Navbar .lower .Left button{
    display: none;
    justify-content: left;
    font-family: 'Raleway', sans-serif;
    /* margin-left: 7vw; */
}
.burger div {
    background-color: rgb(37, 35, 35);
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 2px;
    transition: all 0.4s ease;
  }
  .burger {
    display: none;
  }
.Navbar .lower .right{
    flex: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 7vw;
    padding: 0%;
}
.Navbar .lower .Left .links a{
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 7vw;
    color: black;
    font-family: 'Raleway', sans-serif;
}
.Navbar .lower .Left .links a:hover{
    box-shadow: 0px 2px #dfdfdf;
    color: #203864;
}


/* in dono ki styling krni h baad mai krenge */
.Navbar .lower .right input{
    width: 10.5rem;
    height: 1.4rem;
    border: none;
    padding-left: 1rem;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    font-family: 'Raleway', sans-serif;
}
.Navbar .lower .right button{
    height: 1.4rem;
    border: none;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    border-radius: 0.25rem;
    padding: 0.2rem;
    text-align: center;
}

@media only screen and (max-width: 768px){
    .burger {
        display: block;
        position: absolute;
        right: 7vw;
        top: 3vh;
        z-index: 50;
      }
    .Navbar .lower .Left button{
        display: flex;
        position: absolute;
        top: 1.2rem;
        right: 1rem;
        z-index: 15;
    }
    .Navbar .lower .Left .links {
        display: none;
    }
    
    .Navbar .lower .Left #hidden{
display: flex;
flex-direction: column;
 height: 100vh;
 width: 70%;
 top: 0rem;
 right: 0;
  position: fixed;
  align-items: center;
  z-index: 5;
  backdrop-filter: blur(0.9rem);
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
    }
    .Navbar .lower .Left #hidden a{
        margin-top: 12vh;
    }

    .Navbar .lower .right input{
        position: absolute;
        border: none;
        background-color: whitesmoke;
        border-radius: 20px;
        width: 85vw;
        margin-left: 2vw;
        top: 5rem;
        font-size: 0.8rem;
    }
   
  
    .Navbar .lower .right button{
        width: 8vw;
        font-size: 0.4rem;
        top: 5rem;
        position: absolute;
      
    }
    .Navbar .upper .uright .login{
        display: none;
    }
}
#toggl .line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  #toggl .line-2 {
    width: 0px;
    transform: translateX(25px);
    background-color: #f7ac1d;
  }
  #toggl .line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }